<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.disrupt.conservo"
          android:versionCode="1"
          android:screenOrientation="sensorLandscape"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="LaunchActivity"
                  android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ScoreActivity"/>
        <activity android:name=".CoolingSystemsActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".CoolingWaterQualityEstimateActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".CycleofConcentrationEstimateActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".LocationDataActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".MakeUpWaterQualityActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".monthlyUsageDataActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".OtherOppertunityActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".ProfileActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".QuestionnaireActivity"/>
    </application>
</manifest>
